# AWS Credentials 
*.pem
*.key
credentials.txt
config.ini

# dbt profiles 
profiles.yml

# Data files
data/*.csv
data/*.parquet
data/*.json

# dbt specific
target/
dbt_packages/
logs/

# Model files
*.pt
*.pth
*.pkl
models/*.pt
models/*.pth
